* {
  min-height: 0;
  font-family: "RobotoMono Nerd Font", monospace;
  font-size: 16px;
}

window#waybar {
  background-color: #000000;
}

window#waybar>box {
  padding-bottom: 3px;
}

#window label {
  background-color: red;
  /* font-weight: bold; */
}

#workspaces {
  /* margin-right: 10px; */

  margin-left: 5px;
  /* margin-bottom: 10px; */

}

#workspaces button {
  margin-top: 3px;
  transition: none;
  color: #b0332a;
  /* background: #1a1a1a; */
  margin-right: 10px;
  border-radius: 9px;

  /* box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px; */
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

#workspaces button.active {
  color: #000000;
  border-radius: 9px;
  font-weight: bold;
  color: #dcd7ba;
  /* background: radial-gradient(circle, rgba(203, 166, 247, 1) 0%, rgba(193, 168, 247, 1) 12%, rgba(249, 226, 175, 1) 19%, rgba(189, 169, 247, 1) 20%, rgba(182, 171, 247, 1) 24%, rgba(198, 255, 194, 1) 36%, rgba(177, 172, 247, 1) 37%, rgba(170, 173, 248, 1) 48%, rgba(255, 255, 255, 1) 52%, rgba(166, 174, 248, 1) 52%, rgba(160, 175, 248, 1) 59%, rgba(148, 226, 213, 1) 66%, rgba(155, 176, 248, 1) 67%, rgba(152, 177, 248, 1) 68%, rgba(205, 214, 244, 1) 77%, rgba(148, 178, 249, 1) 78%, rgba(144, 179, 250, 1) 82%, rgba(180, 190, 254, 1) 83%, rgba(141, 179, 250, 1) 90%, rgba(137, 180, 250, 1) 100%); */
  /* background: #8f7e21; */
  /* background-size: 600% 200%; */
}

#window,
#cpu,
#network,
#wireplumber,
#clock,
#custom-spotify,
#custom-distro-icon,
#memory,
#battery {
  color: #b0332a;
  /* background: #141414; */

  margin-right: 10px;
  border-radius: 9px;

  padding-left: 13px;
  padding-right: 13px;
  font-weight: bold;

  margin-top: 3px;
}

#clock {
  padding-left: 0px;
  margin-right: 5px;
}


/* #taskbar { */
/* background: #09090F; */
/* border: none; */
/* color: #89b4fa; */

/* margin-right: 10px; */
/* border-radius: 15px; */
/* min-width: 45px; */

/* box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px; */
/* padding: 5px; */
/* padding-top: 4px; */
/* padding-bottom: 2px; */
/* font-weight: bold; */

/* margin-top: 10px; */
/* } */


#custom-spotify {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

#custom-spotify,
#clock {
  /* background-color: #b0332a; */
  color: #dcd7ba;
}
