layout {       
    pane split_direction="vertical" {
        pane split_direction="horizontal"{
            pane
            pane stacked=true {
                pane cwd="/home/olexandr/golang/urlShortener"
                pane cwd="/home/olexandr/golang/urlShortener"
            }
        }
    pane focus=true cwd="~/golang/urlShortener" command="helix"
    }   
    pane size=1 {
        plugin location="zellij:tab-bar"
    }
}

